@page "/"
@* @attribute [Authorize] *@

<PageTitle>Home</PageTitle>
<AuthorizeView>
    <Authorized>
        <p>Hello!</p>
    </Authorized>
    <NotAuthorized>
        <p>You're not authorized.</p>
    </NotAuthorized>
    <Authorizing>
        <p>Authorizing</p>
    </Authorizing>
</AuthorizeView>
